* {
    margin: 0;
    padding: 0;
}

nav {
    background: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.nav-icon {
    width: 20px;
    margin-right: 15px;

}

.nav-list {
    display:flex;
    list-style-type: none;
}

.profile {
    width: 25px;
}

.second-ul, .first-ul {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.content {
    height: 200px;
    width: 80%;
}

.outer-div {
    display: flex;
}

.sidebar {
    height: 300px;
    width: 30%;
}

.searchbar{
    width: 500px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 0 10px;
}

.search-button {
    display: inline;
}

.fa-search{
    padding: 8px;
}