html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}
/* NAVIGATION */


nav {
    background: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 98.7%;
}

.nav-icon {
    width: 27px;
    margin-right: 15px;

}

.logo {
    width: 100px;
}

.nav-list {
    display:flex;
    list-style-type: none;
}

.profile {
    width: 25px;
}

.second-ul, .first-ul {
    display: flex;
    align-items: center;
}

/* Main Video */

.main-video {
    width: 100%;
    height: 65%;
    
}

/* SIDEBAR */


.sidebar {
    height: 300px;
    width: 30%;
    margin-top: 79px;
    margin-left: 20px;
}

.searchbar{
    width: 500px;
    height: 30px;
    border-radius: 2px;
    margin: -5px;
}

.search-button {
    display: inline;
    
}

button {
    cursor: pointer;
}
.fa-search{
    padding: 7.70px 22px; 
}

.share-icon {
    color: black;
    font-size: 13px;
}


/* OUTER DIV */

.content {
    height: 1000px;
    width: 80%;
    margin-top: 81px;
    margin-left: 55px;
}

.outer-div {
    display: flex;
    background-color: rgb(252, 252, 252);
}

.video-details {
    display: flex;
    border-bottom: 2px solid lightgray;
}

h1 {
    margin: 15px 0;
    font-size: 20px;
}

.video-details .views, .video-details .likes .fa{
    font-size: 25px;
}


.video-details .views {
    margin: 14px 0;
    color: rgb(136, 135, 135);
}


.video-details .likes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.video-details .likes .fa {
    padding: 20px;
    color: rgb(170, 170, 170);
    
}


.underline{
    margin-top: 2px;
    border-bottom: 2px solid gray;
}

.owner{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 50px;
    border-bottom: 2px solid lightgray;

     
}

.owner button {
    order: 1;
    background-color:#cc0000;
    color: white;
    padding: 0 15px;
    font-weight: bold;
    border: none;
    max-height: 45px;
}

.owner-name {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.owner-logo {
    width: 50px;
    margin: 0 15px;
}

.owner-logo img {
    width: 100%;
    border-radius: 50%;
}

.publish {
    font-size: 12px;
    color: lightslategray;
}

.image {
    width: 22px;
}

.bleacher-title, .description, .sidetitle, .sidedate{
    font-size: 14px;
}

.bleacher-title{
    font-weight: bold;
}


.description {
    margin-top: 15px;
    line-height: 1.6;
}

.description a {
    text-decoration: none;
}

/* Comments section */

.comments-section {
    margin-top: 15px;
}

.comments-number {
    margin: 30px;
}

.comments-section .fa {
    margin: 10px;
}

.profile-comment {
    width: 50px;
}

.add-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.comments-section input {
        width: 95%;
        display: block;
        height: 27px;
        font-size: 1rem;
        border:none;
        
}

/* SIDEBAR */

.sidebar{
  margin-right: 25px;
}

.thumbnail-title {
    display: flex;
    justify-content: space-between;
}

.upnext, .autoplay {
    color: black;
}



.upnext, .autoplay-button {
    font-size: 16px;
}



.fa-toggle-on {
    color: blue;
}


.sidebar-media {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.side-media1 {
   margin-left: 15px;
}

.sidetitle {
    font-weight: bold;
}

.sidedate {
    color: lightslategray;
    margin-top: 10px;
}


.links {
  color: black;
  text-decoration: none;
}
