* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}
/* NAVIGATION */


nav {
    background: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: fixed;
    width: 98.7%;
}

.nav-icon {
    width: 20px;
    margin-right: 15px;

}

.nav-list {
    display:flex;
    list-style-type: none;
}

.profile {
    width: 25px;
}

.second-ul, .first-ul {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}



.sidebar {
    height: 300px;
    width: 30%;
}

.searchbar{
    width: 500px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 0 10px;
    margin: -5px;
}

.search-button {
    display: inline;
}

.fa-search{
    padding: 7.70px 22px; 
}
/* OUTER DIV */

.content {
    height: 1000px;
    width: 80%;
    margin-top: 81px;
    margin-left: 55px;
}

.outer-div {
    display: flex;
    background-color: rgb(252, 252, 252);
}

.video-details {
    display: flex;
    border-bottom: 2px solid lightgray;
}

.title h1 {
    margin: 15px 0;
    font-size: 25px;
}

.video-details .views {
    margin: 14px 0;
    font-size: 25px;
    color: rgb(136, 135, 135);
}


.video-details .likes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.video-details .likes .fa {
    padding: 20px;
    font-size: 27px;
    color: rgb(170, 170, 170);
    
}

.underline{
    margin-top: 2px;
    border-bottom: 2px solid gray;
}

.owner{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
     

}

.owner button {
    order: 1;
    background-color:#cc0000;
    color: white;
    padding: 0 15px;
    font-weight: bold;
    border: none;
}
